<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Compta_Customer>
            <version>0.1.0</version>
        </Compta_Customer>
    </modules>
    <global>
        <blocks>
            <compta_customer>
                <class>Compta_Customer_Block</class>
            </compta_customer>
        </blocks>
        <helpers>
            <compta_customer>
                <class>Compta_Customer_Helper</class>
            </compta_customer>
        </helpers>
        <resources>
            <compta_customer_setup>
                <setup>
                    <module>Compta_Customer</module>
                </setup>
            </compta_customer_setup>
        </resources>
        <models>
            <compta_customer>
                <class>Compta_Customer_Model</class>
                <resourceModel>compta_customer_resource</resourceModel>
            </compta_customer>
            <compta_customer_resource>
                <class>Compta_Customer_Model_Resource</class>
                <entities>
                    <customer>
                        <table>compta_customer</table>
                    </customer>
                </entities>
            </compta_customer_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <compta_customer>
                    <file>compta_customer.xml</file>
                </compta_customer>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <compta_customer before="Mage_Adminhtml">Compta_Customer_Adminhtml</compta_customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>