<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Compta_Invoice>
            <version>0.1.0</version>
        </Compta_Invoice>
    </modules>
    <global>
        <blocks>
            <compta_invoice>
                <class>Compta_Invoice_Block</class>
            </compta_invoice>
        </blocks>
        <helpers>
            <compta_invoice>
                <class>Compta_Invoice_Helper</class>
            </compta_invoice>
        </helpers>
        <resources>
            <compta_invoice_setup>
                <setup>
                    <module>Compta_Invoice</module>
                </setup>
            </compta_invoice_setup>
        </resources>
        <models>
            <compta_invoice>
                <class>Compta_Invoice_Model</class>
                <resourceModel>compta_invoice_resource</resourceModel>
            </compta_invoice>
            <compta_invoice_resource>
                <class>Compta_Invoice_Model_Resource</class>
                <entities>
                    <invoice>
                        <table>compta_invoice</table>
                    </invoice>
                </entities>
            </compta_invoice_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <compta_invoice>
                    <file>compta_invoice.xml</file>
                </compta_invoice>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <compta_invoice before="Mage_Adminhtml">Compta_Invoice_Adminhtml</compta_invoice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>