<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gpec_Skill>
            <version>0.1.2</version>
        </Gpec_Skill>
    </modules>
    <frontend>
        <routers>
            <gpec_skill>
                <use>standard</use>
                <args>
                    <module>Gpec_Skill</module>
                    <frontName>gpec_skill</frontName>
                </args>
            </gpec_skill>
        </routers>
    </frontend>
    <global>
        <blocks>
            <gpec_skill>
                <class>Gpec_Skill_Block</class>
            </gpec_skill>
        </blocks>
        <helpers>
            <gpec_skill>
                <class>Gpec_Skill_Helper</class>
            </gpec_skill>
        </helpers>
        <resources>
            <gpec_skill_setup>
                <setup>
                    <module>Gpec_Skill</module>
                </setup>
            </gpec_skill_setup>
        </resources>
        <models>
            <gpec_skill>
                <class>Gpec_Skill_Model</class>
                <resourceModel>gpec_skill_resource</resourceModel>
            </gpec_skill>
            <gpec_skill_resource>
                <class>Gpec_Skill_Model_Resource</class>
                <entities>
                    <skill>
                        <table>gpec_skill</table>
                    </skill>
                    <historic>
                        <table>gpec_skill_historic</table>
                    </historic>
                </entities>
            </gpec_skill_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <gpec_skill>
                    <file>gpec_skill.xml</file>
                </gpec_skill>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <gpec_skill>
                    <file>gpec_skill.xml</file>
                </gpec_skill>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gpec_skill before="Mage_Adminhtml">Gpec_Skill_Adminhtml</gpec_skill>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>