<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gpec_Training>
            <version>0.1.0</version>
        </Gpec_Training>
    </modules>
    <global>
        <blocks>
            <gpec_training>
                <class>Gpec_Training_Block</class>
            </gpec_training>
        </blocks>
        <helpers>
            <gpec_training>
                <class>Gpec_Training_Helper</class>
            </gpec_training>
        </helpers>
        <resources>
            <gpec_training_setup>
                <setup>
                    <module>Gpec_Training</module>
                </setup>
            </gpec_training_setup>
        </resources>
        <models>
            <gpec_training>
                <class>Gpec_Training_Model</class>
                <resourceModel>gpec_training_resource</resourceModel>
            </gpec_training>
            <gpec_training_resource>
                <class>Gpec_Training_Model_Resource</class>
                <entities>
                    <training>
                        <table>gpec_training</table>
                    </training>
                    <user>
                        <table>gpec_training_user</table>
                    </user>
                </entities>
            </gpec_training_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <gpec_training>
                    <file>gpec_training.xml</file>
                </gpec_training>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gpec_training before="Mage_Adminhtml">Gpec_Training_Adminhtml</gpec_training>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>