<?xml version="1.0"?>
<config>
    <modules>
        <Compta_Calendar>
            <version>0.1.0</version>
        </Compta_Calendar>
    </modules>
    <global>
        <models>
            <compta_calendar>
                <class>Compta_Calendar_Model</class>
                <resourceModel>compta_calendar_resource</resourceModel>
            </compta_calendar>
            <compta_calendar_resource>
                <class>Compta_Calendar_Model_Resource</class>
                <entities>
                    <calendar>
                        <table>compta_calendar</table>
                    </calendar>
                </entities>
            </compta_calendar_resource>
        </models>
        <helpers>
            <compta_calendar>
                <class>Compta_Calendar_Helper</class>
            </compta_calendar>
        </helpers>
        <resources>
            <compta_calendar_setup>
                <setup>
                    <module>Compta_Calendar</module>
                </setup>
            </compta_calendar_setup>
        </resources>
        <helpers>
            <compta_calendar>
                <class>Compta_Calendar_Helper</class>
            </compta_calendar>
        </helpers>
        <blocks>
            <compta_calendar>
                <class>Compta_Calendar_Block</class>
            </compta_calendar>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <compta_calendar before="Mage_Adminhtml">Compta_Calendar_Adminhtml</compta_calendar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <compta_calendar>
                    <file>compta_calendar.xml</file>
                </compta_calendar>
            </updates>
        </layout>
    </adminhtml>
</config>