<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gpec_Report>
            <version>0.1.0</version>
        </Gpec_Report>
    </modules>
    <global>
        <blocks>
            <gpec_report>
                <class>Gpec_Report_Block</class>
            </gpec_report>
        </blocks>
        <helpers>
            <gpec_report>
                <class>Gpec_Report_Helper</class>
            </gpec_report>
        </helpers>
        <resources>
            <gpec_report_setup>
                <setup>
                    <module>Gpec_Report</module>
                </setup>
            </gpec_report_setup>
        </resources>
        <models>
            <gpec_report>
                <class>Gpec_Report_Model</class>
                <resourceModel>gpec_report_resource</resourceModel>
            </gpec_report>
            <gpec_report_resource>
                <class>Gpec_Report_Model_Resource</class>
                <entities>
                    <report>
                        <table>gpec_report</table>
                    </report>
                </entities>
            </gpec_report_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <gpec_report>
                    <file>gpec_report.xml</file>
                </gpec_report>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gpec_report before="Mage_Adminhtml">Gpec_Report_Adminhtml</gpec_report>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>