<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gpec_Job>
            <version>0.1.1</version>
        </Gpec_Job>
    </modules>
    <global>
        <blocks>
            <gpec_job>
                <class>Gpec_Job_Block</class>
            </gpec_job>
        </blocks>
        <helpers>
            <gpec_job>
                <class>Gpec_Job_Helper</class>
            </gpec_job>
        </helpers>
        <resources>
            <gpec_job_setup>
                <setup>
                    <module>Gpec_Job</module>
                </setup>
            </gpec_job_setup>
        </resources>
        <models>
            <gpec_job>
                <class>Gpec_Job_Model</class>
                <resourceModel>gpec_job_resource</resourceModel>
            </gpec_job>
            <gpec_job_resource>
                <class>Gpec_Job_Model_Resource</class>
                <entities>
                    <job>
                        <table>gpec_job</table>
                    </job>
                    <skill>
                        <table>gpec_job_skill</table>
                    </skill>
                    <user>
                        <table>gpec_job_user</table>
                    </user>
                </entities>
            </gpec_job_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <gpec_job>
                    <file>gpec_job.xml</file>
                </gpec_job>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gpec_job before="Mage_Adminhtml">Gpec_Job_Adminhtml</gpec_job>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>